<footer class="text-white bg-covenantBlue-900 w-full p-5 sm:p-10">
    <div class="max-w-4xl mx-auto">
        <div class="md:flex">
            <nav
                class="flex w-full mb-8 md:w-2/3 gap-5 md:gap-10 text-xs [&>*]:no-underline [&>*]:border-t [&>*]:pt-1 [&>*]:w-full">
                <a href="{{ "/#about" | relative_url }}">
                    About Us <span class="float-right">↑</span>
                </a>
                <a href="{{ "/#services" | relative_url }}">
                    Services <span class="float-right">↑</span>
                </a>
                <a href="{{ "/#team" | relative_url }}">
                    The Team <span class="float-right">↑</span>
                </a>
            </nav>
            <div class="basis-1/4 ml-auto md:text-right text-sm md:text-base">
                <address class="not-italic">
                    1460 Broadway<br class="hidden">
                    New York, NY 10036
                </address>
                <a href="mailto:contact@covenant.co" class="my-5 md:block">Contact@covenant.co</a>
                <a href="tel:19172253734" class="no-underline inline-block">+1-917-225-3734</a>
            </div>
        </div>
        <div class="flex flex-wrap items-center border-t border-covenantBlue-500 py-4 mt-5">
            <div class="mr-2 mb-2">
                <div class="w-8 h-8 border border-covenantBlue-500 rounded-full float-left"></div>
                <div class="w-8 h-8 border border-covenantBlue-500 rounded-full float-left -ml-[1.65rem]"></div>
                <div class="w-8 h-8 border border-covenantBlue-500 rounded-full float-left -ml-[1.65rem]"></div>
            </div>
            <h1 class="text-3xl font-lora mb-2">
                Covenant
            </h1>
            <div class="ml-auto text-covenantBlue-500 text-xs uppercase">
                <span class="mb-5">© Covenant Law, PLLC. Attorney Advertising</span>
                <span class="hidden md:inline">|</span>
                <a href="{{ "/legal-notices.html" | relative_url }}" class="no-underline">legal notices</a>
            </div>
        </div>
</footer>
